@model ReportStatusViewModel
@using ReportSystem.Data.Models;

<form class="mt-3" method="POST" asp-controller="Reports" asp-action="SetReportStatus">
    <input type="hidden" asp-for=@Model.ID value=@Model.ID />

    <div class="form-group">
        <label asp-for="Resolution"></label>
        <textarea class="form-control" asp-for=@Model.Resolution value=@Model.Resolution rows="4"></textarea>
        <span asp-validation-for=@Model.Resolution class="text-danger"></span>
    </div>

    @if (Model.Status == ReportStatus.REFUSED)
    {
        <input type="hidden" asp-for=@Model.Status value=@ReportStatus.RESOLVED />
        <button type="submit" class="btn btn-success">Resolve</button>
    }
    else if (Model.Status == ReportStatus.RESOLVED)
    {
        <input type="hidden" asp-for=@Model.Status value=@ReportStatus.REFUSED />
        <button type="submit" class="btn btn-danger">Refuse</button>
    }
</form>